* {
  box-sizing: border-box;
}

body {
  font-size: 4vw;
  margin: 0px;
  padding: 0px;


}

.backgroundWall {
  width: 100%;
  height: 100vh;
  position: absolute;
  background: url("showcase.jpg");
  background-size: cover;
  background-position: center;
}

#input_bar {
  width: 80%;
  height: 40px;
  padding: 10px 45px 10px 10px;
  border: none;
  border-radius: 50px;
  outline: none;
  position: fixed;
  top: 23vw;
  left: 5%;
}

::-webkit-input-placeholder {
  position: absolute;
  left: 5%;
}

.btn {
  background-color: white;
  background-image: url("/logo5_10_0106 (1).png");
  background-size: 65px, 70px;
  background-position: center;
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 50%;
  position: relative;
  top: 23vw;
  left: 87%;
}


.footer {
  width: 100%;
  padding: 20px;
  height: auto;
  background: linear-gradient(to top left, #BB2A2A, #E48813);
  text-align: center;
  color: white;
  position: fixed;
  bottom: -1px;
}

#set {
  width: 30px;
  height: 35px;
  background: url("InShot_20240410_191934477.png");
  background-size: cover;
  position: absolute;
  border-left: 0.4px solid silver;
  border-right: none;
  border-top: none;
  border-bottom: none;
  top: 23.5vw;
  right: 17%;
  opacity: 70%;
}

img {
  width: 20%;
  height: 20vw;
  border: none;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 15px;
}

.word {
  font-size: 10vw;
  font-family: 'Times New Roman', Times, serif;
  color: black;
  position: relative;
  top: 10%;
  color: darkorange;
  /*text-shadow: 2px 2px 4px #E48813, -1px -2px 3px #EAE9EC;*/
  float: left;
  font-weight: bold;
  left: 20%;
}

.head {
  width: 100%;
  padding: 20px;
  background: transparent;
  position: absolute;
  height: 85px;
  top: 0px;
}

iframe {
  width: 100%;
  position: absolute;
  top: 150px;
  height: 90%;
  display: none;
  overflow: scroll;
  background-size: cover;
  border-radius: 7px;
  background: white;
  /*  border-top: 4px groove #3E16CE; */
  border-left: 2px groove #3E16CE;
}

#Pbar {
  width: 100%;
  height: 5px;
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;

}

#Pbar::-webkit-progress-bar {
  background: red;
}

#progressBar {
  width: 100%;
  height: 2px;
  border: none;
  margin: 0px;
  padding: 0px;
  position: fixed;
  top: 0px;
  background: grey;
  display: none;
}

.bar {
  width: 10%;
  height: 100%;
  position: absolute;
  background: orangered;
  animation-name: move;
  animation-duration: 7s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

@keyframes move {
  from {
    width: 10%;
  }

  to {
    width: 90%;
  }
}
#progressBar:target{
  display: block;
}